@font-face {
  font-family: 'Söhne-Buch';
  src: url('../fonts/SöhneFonts/Söhne-Buch.otf');
}
@font-face {
  font-family: 'Söhne-BuchKursiv';
  src: url('../fonts/SöhneFonts/Söhne-BuchKursiv.otf');
}
@font-face {
  font-family: 'Söhne-Dreiviertelfett';
  src: url('../fonts/SöhneFonts/Söhne-Dreiviertelfett.otf');
}
@font-face {
  font-family: 'Söhne-DreiviertelfettKursiv';
  src: url('../fonts/SöhneFonts/Söhne-DreiviertelfettKursiv.otf');
}
@font-face {
  font-family: 'Söhne-Extrafett';
  src: url('../fonts/SöhneFonts/Söhne-Extrafett.otf');
}
@font-face {
  font-family: 'Söhne-ExtrafettKursiv';
  src: url('../fonts/SöhneFonts/Söhne-ExtrafettKursiv.otf');
}
@font-face {
  font-family: 'Söhne-Extraleicht';
  src: url('../fonts/SöhneFonts/Söhne-Extraleicht.otf');
}
@font-face {
  font-family: 'Söhne-ExtraleichtKursiv';
  src: url('../fonts/SöhneFonts/Söhne-ExtraleichtKursiv.otf');
}
@font-face {
  font-family: 'Söhne-Fett';
  src: url('../fonts/SöhneFonts/Söhne-Fett.otf');
}
@font-face {
  font-family: 'Söhne-FettKursiv';
  src: url('../fonts/SöhneFonts/Söhne-FettKursiv.otf');
}
@font-face {
  font-family: 'Söhne-Halbfett';
  src: url('../fonts/SöhneFonts/Söhne-Halbfett.otf');
}
@font-face {
  font-family: 'Söhne-HalbfettKursiv';
  src: url('../fonts/SöhneFonts/Söhne-HalbfettKursiv.otf');
}
@font-face {
  font-family: 'Söhne-Kräftig';
  src: url('../fonts/SöhneFonts/Söhne-Kräftig.otf');
}
@font-face {
  font-family: 'Söhne-KräftigKursiv';
  src: url('../fonts/SöhneFonts/Söhne-KräftigKursiv.otf');
}
@font-face {
  font-family: 'Söhne-Leicht';
  src: url('../fonts/SöhneFonts/Söhne-Leicht.otf');
}
@font-face {
  font-family: 'Söhne-LeichtKursiv';
  src: url('../fonts/SöhneFonts/Söhne-LeichtKursiv.otf');
}
@font-face {
  font-family: 'SöhneMono-Buch';
  src: url('../fonts/SöhneFonts/SöhneMono-Buch.otf');
}
@font-face {
  font-family: 'SöhneMono-Kräftig';
  src: url('../fonts/SöhneFonts/SöhneMono-Kräftig.otf');
}
