:root {
  --height-mobile-nav-bar: 60px;
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --link-font-color: #1D252C;
  --hover-color: #1D252C;
  --white-hover-color: #F9FAFA;
  --background-color: #1D252C;
  --btn-text-color: #F9FAFA;
  --black-text-color: #1D252C;
  --background-grey-color: #D6D6D6;
  --btn-background-green: #1CE783;
  --category-hover-color: #E4E5E6;
  --black-hover-color: #1D252C;
  --site-content-padding: 3.75rem !important;

  @media (max-width: 960px) {
    --site-content-padding: 2.5rem !important;
  }

  --global-header-height: 4rem !important;
  --translateY-distance: -22px;
}

h1,
h2,
h3 {
  font-family: 'Söhne-Kräftig';
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h4,
h5,
h6,
p {
  font-family: 'Söhne-Buch';
}

h6 {
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 760px) {
  h3 {
    line-height: 40px;
    font-size: 36px;
  }

  h6 {
    line-height: 32px;
  }
}

@media (min-width: 760px) {
  h3 {
    line-height: 50px;
    font-size: 44px;
  }

  h6 {
    line-height: 30px;
  }
}

p {
  font-size: 18px;
}

input[type='text'] {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.1s var(--ease-out-quad);

  &:hover {
    border-color: var(--border-hover-color);
  }
}

:global {
  .intro-text {
    color: var(--secondary-text-color);
    font-size: 1.125rem;
    line-height: 1.75;

    li:not(:last-child) {
      margin-bottom: 0.5rem !important;
    }
  }
}

.slide {
  height: 100%;
}

.slick-list {
  margin: 0 -6.5px !important;
}

.slick-dots li button {
  height: 40px !important;
}

.slick-prev {
  z-index: 100;
  left: -27px !important;
}
.slick-next {
  right: -28px !important;
}

.slick-disabled .arrow-bg {
  fill: transparent;
}

.slick-disabled .arrow {
  fill: transparent;
}


.slick-track {
  display: flex !important;
  margin-top: 2px;
  flex-direction: row;
  column-gap: 0px;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.slick-slide {
  height: inherit !important;
  margin: 6.5px !important;
}

@media only screen and (max-width: 425px) {
  #onetrust-banner-sdk.otFloatingRoundedCorner {
    width: 100% !important;
  }
}

@media only screen and (min-width: 426px) and (max-width: 896px) {
  #onetrust-banner-sdk.otFloatingRoundedCorner {
    max-width: 100%;
  }
}

.slick-track {
  float: left;
  justify-content: center;
  align-items: center;
}

.btn-styles {
  overflow: hidden;
  text-align: center;
  margin: 0;
  transition-delay: 2s;

  >div {
    white-space: nowrap;
  }

  >span {
    background: none;
    border: 15px solid var(--button-background);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .scroll {
    -webkit-animation: scroll-back 0.5s cubic-bezier(0.6, 0, 0, 1) forwards;
    animation: scroll-back 0.5s cubic-bezier(0.6, 0, 0, 1) forwards;
  }

  &:hover .scroll {
    -webkit-animation: scroll 0.5s cubic-bezier(0.6, 0, 0, 1) forwards;
    animation: scroll 0.5s cubic-bezier(0.6, 0, 0, 1) forwards;
  }

  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(var(--translateY-distance));
      transform: translateY(var(--translateY-distance));
    }
  }

  @-webkit-keyframes scroll-back {
    0% {
      -webkit-transform: translateY(var(--translateY-distance));
      transform: translateY(var(--translateY-distance));
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      -webkit-transform: translateY(var(--translateY-distance));
      transform: translateY(var(--translateY-distance));
    }
  }

  @keyframes scroll-back {
    0% {
      -webkit-transform: translateY(var(--translateY-distance));
      transform: translateY(var(--translateY-distance));
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.btn-styles .btn-animation-styles {
  height: 24px;
  overflow: hidden;
}

.btn1 {
  transition-duration: 3s;
}

.btn-styles:focus {
  outline: none;
  text-decoration-line: underline;
  outline-width: 0.25rem;
  text-underline-offset: 0.25rem;

  .btn-text {
    outline: none;
    text-decoration-line: underline;
    outline-width: 0.25rem;
    text-underline-offset: 0.25rem;
  }
}

.post-social {
  .button {
    margin: 0.5rem 0.5rem;
  }
}
