:root {
  --height-mobile-nav-bar: 60px;
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --link-font-color: #1D252C;
  --hover-color: #1D252C;
  --white-hover-color: #F9FAFA;
  --background-color: #1D252C;
  --btn-text-color: #F9FAFA;
  --black-text-color : #1D252C;
  --background-grey-color : #D6D6D6;
}
h1,h2,h3{
  font-family: 'Söhne-Kräftig';
}
h1{
  font-size:72px;
}
h2{
  font-size:56px;
}
h3{
  font-size:44px;
}
h4,h5,h6,p{
 font-family: 'Söhne-Buch';
}
h6{
  font-size:24px;
}
p{
  font-size:18px;
}
input[type='text'] {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.1s var(--ease-out-quad);

  &:hover {
    border-color: var(--border-hover-color);
  }
}

:global {
  .intro-text {
    color: var(--secondary-text-color);
    font-size: 1.125rem;
    line-height: 1.75;

    li:not(:last-child) {
      margin-bottom: 0.5rem !important;
    }
  }
}
.slide {
  height: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: var(--primary-text-color) !important;
}

.slick-initialized .slick-slide{
  justify-content: space-between;
  padding:0 8px;

  &:first-child {
    padding-left: 0;
  }
}
.slick-track {
  display: flex !important;
  margin-top:2px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.slick-slide
{
    height: inherit !important;
} 
@media only screen and (max-width: 425px){
  #onetrust-banner-sdk.otFloatingRoundedCorner {
    width: 100% !important;
  }
}
@media only screen and (min-width: 426px) and (max-width: 896px) {
  #onetrust-banner-sdk.otFloatingRoundedCorner {
    max-width: 100%;
  }
}

.slick-track {
  float: left;
  justify-content: center;
  align-items: center;
}